Hi {{name}},

Thank you for signing up to RuuviTracker.fi.

More information available at
- http://www.ruuvitracker.fi
- http://wiki.ruuvitracker.fi
- #ruuvitracker @ IRCNet

Your username is {{username}}.

Best Regards,
RuuviTracker team

