html, body, h1, form, fieldset, legend, ol, li {
    margin: 0;
    padding: 0;
}

body {
    background: #cfcfff;
    color: #111111;
    font-family: Tahoma, Helvetica, sans-serif;
    padding: 20px;
}

button {
   
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    background: #6c8ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    counter-reset: fieldsets;
    padding: 20px;
    width: 400px;
}

form fieldset {
    border: none;
    margin-bottom: 10px;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

form legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}

form > fieldset > legend:before {
    content: "Step " counter(fieldsets) ": ";
    counter-increment: fieldsets;
}

form fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}

form ol li {
    background: #b9cf6a;
    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

form ol ol li {
    background: none;
    border: none;
    float: left;
}

form label {
    float: left;
    font-size: 13px;
    width: 110px;
}

form fieldset fieldset label {
    background:none no-repeat left 50%;
    line-height: 20px;
    padding: 0 0 0 30px;
    width: auto;
}

form label[for=visa] {
    background-image: url(visa.gif);
}
form label[for=amex] {
    background-image: url(amex.gif);
}
form label[for=mastercard] {
    background-image: url(mastercard.gif);
}

form fieldset fieldset label:hover {
    cursor: pointer;
}

form input:not([type=radio]),
form textarea {
    background: #ffffff;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font-family: italic Tahoma, Helvetica, sans-serif;
    outline: none;
    padding: 5px;
    width: 200px;
}

form input:not([type=submit]):focus,
form textarea:focus {
    background: #eaeaea;
}

form input[type=radio] {
    float: left;
    margin-right: 5px;
}

form button {
    color: #ffffff;
    background: #3843c3;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    display: block;
    font: Tahoma, Helvetica, sans-serif;
    letter-spacing: 3px;
    margin: auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}

form button:hover {
    color: #ffffff;
    background: #1e2506;
    cursor: pointer;
}